<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dal.hrm_management">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.home.HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.profile.ViewProfileActivity"
            android:label="@string/label.viewProfile" />
        <activity android:name=".views.employee.ViewInforEmployeeActivity" />
        <activity android:name=".views.employee.EditProfileEmployeeActivity" />
        <activity android:name=".views.profile.EditProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.profile.ViewProfileActivity" />
        </activity>
        <activity
            android:name=".views.absence.FormAbsenceActivity"
            android:label="Absence" />
        <activity
            android:name=".views.manage_absence.Hr.holiday.FormHolidayActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".views.absenceEmployee.DetailAbsenceEmployeeActivity"></activity>
        <activity android:name=".views.overtime.FormOvertime">


        </activity>
    </application>

</manifest>